* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;

  }
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarbrand {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 10px;
}

.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}



.herotext {
    width: 50%;

}

.herodoodle {
    width: 50%;
    display:flex;
    justify-content: space-around;
}

  
  body {
    margin: 0;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }

 
  
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
 
  legend {
    border: 0;
    padding: 0;
  }
  
 
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  html {
    height: 100%;
  }
  
  body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }
  


  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  
  h5 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
  h6 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  blockquote {
    border-left: 5px solid #e2e2e2;
    margin: 0 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 22px;
  }
  
  figure {
    margin: 0 0 10px;
  }
  
  figcaption {
    text-align: center;
    margin-top: 5px;
  }
  
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  

  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
 

  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: none;
    }
  }
  
  
  
 
  
  .mylogo2-1 {
    object-fit: cover;
  }
  
  .text {
    color: #000;
    text-align: center;
    letter-spacing: .1em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 31px;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
  }
  

  .navbar-menu {
    grid-column-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .navbar-link {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
  
  .text-2 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  
  .navbar-button {
    grid-column-gap: 8px;
    background-color: #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    display: flex;
  }
  
  .text-3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  

  .navbar-menu-2 {
    grid-column-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .navbar-link-2 {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
  
  .text-4 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  

  .text-5 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  
  .navbar-logo-left {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1728px;
    text-decoration: none;
    display: flex;
  }
  
  
 
  
  .webname {
    color: #000;
    text-align: center;
    letter-spacing: .1em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Manrope, sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
  }
  
  .text-6 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  

  .text-7 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  
  .utility-page-wrap {
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
  }
  
  .utility-page-content {
    text-align: center;
    flex-direction: column;
    width: 260px;
    display: flex;
  }
  
  .utility-page-form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }
  

  .macbook-pro-16---4 {
    grid-row-gap: 82px;
    background-color: #fdfdfd;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 2408px;
    padding-top: 34px;
    padding-bottom: 34px;
    text-decoration: none;
    display: flex;
  }
  

  
  .navbar-logo-left-2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1728px;
    text-decoration: none;
    display: flex;
  }
  
  
  
  .frame-12 {
    grid-column-gap: 29px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 570.333px;
    text-decoration: none;
    display: flex;
  }
  
  .mylogo2-3 {
    object-fit: cover;
  }
  
  .webname-2 {
    color: #000;
    text-align: center;
    letter-spacing: .1em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Manrope, sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
  }
  
  .navbar-menu-3 {
    grid-column-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .navbar-link-3 {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
  
  .text-8 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  
  .navbar-link-4, .navbar-link-5 {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
 
  .text-9 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  
  .frame-13 {
    grid-column-gap: 16px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .component-33 {
    grid-column-gap: 10px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    height: 351px;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  
  .text-10 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 59px;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
  }
  
  .vectors-wrapper {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 17.55px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 311.512px;
    left: 279px;
  }
  
  .vectors-wrapper-2 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 91.8228px;
    height: 17.55px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 54.1125px;
    left: 612px;
  }
  
  .vectors-wrapper-3 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 25.35px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 219.862px;
    left: 479px;
  }
  
  .untitled_artwork-2 {
    object-fit: cover;
    border-radius: 3000px;
  }
  

  
  
  .vectors-wrapper-4 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    text-decoration: none;
    display: flex;
  }
  
  .text-11 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 113%;
    text-decoration: none;
  }
  
  .vectors-wrapper-5 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    text-decoration: none;
    display: flex;
  }
 
  
  .vectors-wrapper-6 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  
  
  
  .text-12 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 113%;
    text-decoration: none;
  }
  
 
 
  
  .navbar-menu-4 {
    grid-column-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .navbar-link-6 {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
  
  .text-13 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  
  .navbar-link-7, .navbar-link-8 {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    text-decoration: none;
    display: flex;
  }
  
  
  
  .text-14 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
 
  
  .desktop---1 {
    grid-column-gap: 5860px;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1460px;
    height: 2239px;
    padding-top: 66px;
    padding-bottom: 66px;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  
  
  

  
  .container {
    grid-column-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1246px;
    text-decoration: none;
    display: flex;
  }
  
  .column {
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 806px;
    padding-left: 29px;
    text-decoration: none;
    display: flex;
  }
  
  
  
  .content {
    grid-row-gap: 31px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 806px;
    height: 351px;
    text-decoration: none;
    display: flex;
  }
  
  
  
  .text-17 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 59px;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
  }
  
  .vectors-wrapper-7 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 17px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 317px;
    left: 250px;
  }
  
  .vectors-wrapper-8 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 25.35px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 231px;
    left: 472px;
  }
  
  .vectors-wrapper-9 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 91.8228px;
    height: 17.55px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 63px;
    left: 582px;
  }
  
  .frame-17 {
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
  }
  
  .frame-21 {
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 82px;
    text-decoration: none;
    display: flex;
  }
  
  .actions {
    grid-column-gap: 23px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 36px;
    text-decoration: none;
    display: flex;
  }
  
  .component-36 {
    grid-column-gap: 26px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-10 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    text-decoration: none;
    display: flex;
  }
  
  .text-18 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 113%;
    text-decoration: none;
  }
  
  .column-2 {
    grid-column-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 411px;
    text-decoration: none;
    display: flex;
  }
  
  .image-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-11 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-12 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    text-decoration: none;
    display: flex;
  }
  
  .section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 560px;
    left: 7252px;
  }
  
  .container-2 {
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 24px;
    text-decoration: none;
    display: flex;
  }
  
  .section-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 1042px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 1104px;
    left: 10px;
  }
  
  .container-3 {
    background-color: rgba(248, 248, 248, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 896px;
    padding: 24px;
    text-decoration: none;
    display: flex;
  }
  
  .frame-25 {
    grid-row-gap: 82px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
  }


  .navlink {
    color: #fff;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    padding: 24px 12px;
    font-size: 10px;
    text-decoration: none;
    display: flex;
    overflow: visible;
    transition: all 0.1s;
  }
  

  .navbar-logo-left-6 {
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: none;
    padding-top: 22px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    display: flex;
    overflow: visible;
  }
  
  .navbarcontainer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 37px;
    margin-right: 37px;
    text-decoration: none;
    display: block;
    

  }



  a { color: inherit;
    text-decoration: inherit;;
   } 

  .navbarcontent {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: fill;
    flex-flow: row;
    order: 0;
    justify-content: space-between;
    align-self: auto;
    align-items: center;
    width: auto;
    max-width: none;
    text-decoration: none;
    display: flex;
  }
  
  .navbarleftside {
    grid-column-gap: 47px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 580px;
    text-decoration: none;
    display: flex;
  }
  
  .navbarbrand {
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
  .logo {
    object-fit: contain;
    align-self: center;
    max-width: 80%;
  }
  
  .text-24 {
    color: #000;
    flex: 1;
    align-self: center;
    max-width: 132%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
  
  .text-24.darkmode {
    color: #fff;
  }

  .text-26 {
    color: #000;
    flex: 1;
    align-self: center;
    max-width: 132%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    padding-right: 10px;
  }
  
  .navbarmenu{
    grid-column-gap: 32px;
    flex: 0 auto;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  
html {
  scroll-behavior: smooth;
}


  .text-span-2 {
    background-image: url("../images/vectors-wrapper.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: 200% 30%;
  }
  
  .text-span-3 {
    background-image: url("../images/vectors-wrapper-1.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: 100% 23%;
  }
  
  .text-span-4 {
    background-image: url("../images/vectors-wrapper-2.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: auto 10px;
  }



  .navbutton {
    grid-column-gap: 8px;
    background-color: #000;
    border-radius: 10px;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    display: flex;
    transition: all 0.1s;
  }

  
  .navbar-button-9.darkbutton {
    background-color: #fff;
  }
  
  .text-25 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  
  .text-25.darkmodecontact {
    color: #000;
  }
  
  .poopframe {
    grid-row-gap: 31px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1450px;
    height: 666px;
    text-decoration: none;
    display: flex;
  }
  
  .heroleft {
    grid-column-gap: 10px;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 24px 15px;
    text-decoration: none;
    display: flex;
margin-top: 3%;
animation: fade-up 0.5s;
  }
  
  .container-4 {
    grid-column-gap: 30px;
    flex-direction: row;
    flex: 0 auto;
    justify-content: center;
    align-self: auto;
    align-items: center;
    width: 100%;
    max-width: 1246px;
    text-decoration: none;
    display: flex;
  }
  
  .column-3 {
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 806px;
    text-decoration: none;
    display: flex;
  }
  
  .frame-36 {
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
  }
  
  .content-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 806px;
    padding-left: 56px;
    text-decoration: none;
    display: flex;
  }
  
  .component-37 {
    grid-column-gap: 10px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 351px;
    display: flex;
    position: static;
  }
  
  .vectors-wrapper-13 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 17px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 308px;
    left: 226.633px;
  }
  
  .vectors-wrapper-14 {
    object-fit: cover;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    height: 25.35px;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 225px;
    left: 428.207px;
  }
  

  
  .vectors-wrapper-15 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 85.4431px;
    height: 17.55px;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 75px;
    left: 541.563px;
  }
  

  
  .actions-2 {
    grid-column-gap: 23px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 36px;
    text-decoration: none;
    display: flex;
  }
  
  .component-38 {
    grid-column-gap: 26px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-16 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    text-decoration: none;
    display: flex;
  }
  

  .navlink:hover{
    transform: scale(1.2);
  }
  
  

  .navbutton:hover {
    transform: scale(1.1);
  }



  .text-27 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 113%;
    text-decoration: none;
  }
  
  .column-4 {
    grid-column-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 411px;
    text-decoration: none;
    display: flex;
  }
  
  .image-wrapper-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
  }
  
  .vectors-wrapper-17 {
    object-fit: contain;
    border-radius: 15px;
    flex: 0 auto;
    justify-content: center;
    align-self: auto;
    align-items: center;
    max-width: 80%;
    text-decoration: none;
    display: block;
  }
  
  .arrowvector {
    object-fit: fill;
    justify-content: center;
    align-items: center;
    width: 50px;
    max-width: 70%;
    height: 40px;
    text-decoration: none;
    display: flex;
    animation: bounce 1.3s;
    transition: 0.1s;
  }

  .arrowvector:hover {
    transform: scale(1.15);
    filter: drop-shadow(2px 1px 1px rgba(144, 144, 144, 0.5));
  }
  
  .body {
    background-color: #fdfdfd;
    font-size: 15px;
  }
  
  .image {
    object-fit: fill;
    max-width: 24%;
    margin-left: 0;
    margin-right: 100px;
  }
  
  .container-5 {
    object-fit: none;
    flex-direction: row;
    flex: 0 auto;
    justify-content: center;
    align-self: auto;
    align-items: center;
    width: 50%;
    max-width: none;
    display: flex;
    overflow: visible;
  }
  
  .paragraph {
    object-fit: fill;
    object-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    padding-right: 0;
    font-family: Inter, sans-serif;
    font-size: 35px;
    line-height: 40px;
    display: block;
    overflow: visible;
  }
  
  .container-6 {
    object-fit: fill;
    order: 0;
    align-self: center;
    width: 600px;
    max-width: none;
    margin-left: 100px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .link {
    color: #432e2e;
    font-size: 20px;
  }
  
  .link-2 {
    color: #303030;
    align-self: center;
    margin-left: 14px;
    padding-top: 0;
    padding-bottom: 3px;
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-style: normal;
    text-decoration: none;
  }
  
  .container-7 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 56px;
    font-size: 25px;
    display: flex;
  }
  
  .image-2 {
    align-self: flex-end;
    max-width: 4%;
  }
  
  .heading {
    font-family: Inter, sans-serif;
    font-size: 50px;
  }
  
  .container-8 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }

100% {
opacity: 1;
transform: translateY(0px) scale(1);
}
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

100% {
opacity: 1;
transform: translateY(0px) scale(1);
}
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 




  .div-block {
    object-fit: fill;
    border-radius: 40px;
    flex-flow: column;
    max-width: 70%;

    margin-bottom: 225px;
    padding-bottom: 0;
    font-family: Inter, sans-serif;
    display: flex;
    box-shadow: 0 13px 20px 3px rgba(50, 50, 50, .2);
    transition: all 0.1s;
    margin: auto;
  }

  .div-block:hover {
transform: translateY(-30px);
  }
  
  .div-block-2 {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 0;
    padding: 22px 58px 85px;
  }
  
  .text-block {
    margin-top: 33px;
    font-size: 21px;
    font-weight: 300;
  }
  
  .image-3 {
    border: 1px #000;
    border-radius: 40px 40px 0 0;
    
  }
  
  .paragraph-2 {
    color: #adadad;
    margin-top: 13px;
    padding-left: 3px;
    font-size: 17px;
    font-weight: 500;
  }
  
 
  
  
  .body-2 {
    background-color: rgba(248, 248, 248, 0);
    display: block;
  }
  
  .image-4 {
    object-fit: contain;
    width: 34.9999%;
    max-width: 35%;
  }
  
  .div-block-4 {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    display: flex;
  }
  
  
  .image-5 {
    object-fit: contain;
    width: 30%;
  }
  
  .image-6 {
    object-fit: cover;
    border-radius: 0;
    width: 1200px;
    max-width: none;
    height: 700px;
    padding-bottom: 0;
    font-weight: 400;
    display: block;
    overflow: hidden;
  }
  
  .div-block-6 {
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-top: 30px;
    display: flex;
  }
  
  .heading-2 {
    justify-content: center;
    align-items: center;
    font-family: Hanken Grotesk, sans-serif;
    font-size: 30px;
    display: flex;
  }
  
  .div-block-7 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .div-block-8 {
    display: flex;
  }
  
  .heading-3 {
    justify-content: center;
    align-items: flex-end;
    margin-top: 142px;
    display: flex;
  }
  
  .div-block-9 {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: 113px;
    margin-right: 113px;
    display: flex;
  }
  
  .div-block-10 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .heading-4 {
    flex-flow: column;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    display: flex;
  }
  
  .div-block-11 {
    flex-flow: column;
    display: flex;
  }
  
  .image-7 {
    border-radius: 0;
    width: 25%;
    max-width: 60%;
  }

  
  
  @media screen and (max-width: 991px) {
    .navbar-menu {
      max-width: unset;
    }
  
    .navbar-link, .navbar-button {
      justify-content: center;
    }
  
   
    
  
    
  
    .container-4 {
      flex-direction: column;
      align-items: center;
    }
  }

  #dice {
    margin-top: 10px;
  }

  .dicecontainer {
    display: flex;
    transform: translate(-2px, 13px)
  }


  .rollme {
    display: flex;
    flex-direction: column;

    align-content: flex-end;
    margin-left: 13px;
    font-size: 18px;
    font-style: italic;
    color: grey;

    transform: translate(0, 14px)
  }
  


  #dice:hover {
transform: rotate(0.25turn);


  }

  .dice {
    animation: .5s  spin;
  }

  .link-2:hover {
    text-decoration: underline;
    color: teal;
  }

  #fitdictimage {
    width: 100%;
margin-top: 2%;
  }

  #imagediv {
    padding-left: 0px;
    padding-right: 0px;
   margin: 0px;
    width: 100%;
    text-align: center;
  }

  

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#navbutton {
  border-color:transparent
}



#aboutmepic {
  border-radius: 10000px;
  margin-left: 7%;
  margin-top: 5%;
 object-fit: cover;
 width: 33%;
height:500px;
 float:left;
}


.playcontainer {
  padding: 2rem 5%;
}

.playcontainer .image-container {
  columns: 15rem 3;
  gap: 1.4rem;
}

.playcontainer .image-container img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
}

.playcontainer .image-container img:hover {
  transform: scale(1.01);
}


h2 {
  font-size: 23px;
  color: rgb(23, 140, 250);
}

.aboutmesection {
display: flex;
margin: auto;
}

.aboutmetext {
  display:flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  font-size: 18px;;
}

.whydesign {
  margin: 80px 100px 100px 100px;
  font-size: 18px;;
}

.personas {
justify-content: center;
margin: auto;
display: flex;
width: 26%;
gap: 30px;
}


.overview {
  display: flex;
  margin:auto;
  width: 90%;
}
.overview1 {
  display:flex;
  flex-direction: column;
  margin: auto;
}

.overview2 {
  display: flex;
  flex-direction: column;
}

.sectionlabel {
 margin:auto;;
 align-self: center;
 justify-self: center;
 justify-content: center;
 font-size: 30px;
 margin-top: 60px;
}
.projectspec {
  display: flex; /* Enables Flexbox */
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Vertically centers children in the container */
  align-items: center; /* Horizontally centers children in the container */

}